extends layout.pug

block content
	div.container-fluid
		div.row-fluid
			div.span2
				h3 Add Tickets
				button(class=btn class=13 onclick="addTicket(13)") 13
				button(class=btn class=129 onclick="addTicket(129)") 129
				button(class=btn class=254 onclick="addTicket(254)") 254
			div.span10
				div.totalTickets
		div.row-fluid
			div.span2
				h3 Draw A Ticket
				button.btn.btn-primary#pullNumber Pick a Ticket
				ol.pickedNumbers
			div.span10
				button.btn.btn-primary.btn-large.btn-block.pickedNumber#pickedNumber
