body {
clear: both;
display: block;
}

ul li{
	display: inline;
	border: solid 2px #000;
	display: inline-block;
	overflow: hidden;
	font-size: 20px;
	padding: 8px;
	margin: 2px;
}

.loaded {
	background-color: #d9edf7;
}

.remove {
	font-weight: strong;
  	color: #fff;
	background-color: #883636; 
}

.winner20 {
	background-color: #c09853;
    color: #fff;
}

.finalWinners {
	background-color: #458B00;
	color: #fff;
}